#grid-container{
    display: grid;
    gap: 10px;
    background-color: blue;
    padding: 10px;
}

header{
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: green;
    padding: 10px;
    color: white;
    text-align: center;
}

article{
    background-color: gray;
    padding: 10px;    
}

aside{
    grid-column: 2;
    grid-row: 2 / span 2;
    padding: 10px;
    background-color: brown;
    color: white;
}

section{
    padding: 10px;
    background-color: goldenrod;
}

